:root {
    --background: rgb(251, 251, 251);
    --text-color: #000;
    --light-text: rgb(82, 82, 82);
    --sub-back: rgb(243, 243, 243);
}
.dark-theme {
    --background: rgb(36, 36, 36);
    --text-color: #fff;
    --light-text: rgb(214, 214, 214);
    --sub-back: rgb(59, 59, 59);
}
.App {
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    color: #000;
    overflow-x: hidden;
}
.ls-1 {
    letter-spacing: 1px !important;
}
.ls-2 {
    letter-spacing: 2px !important;
}
.fs-7 {
    font-size: 0.9rem !important;
}
.color-light {
    color: var(--light-text) !important;
}
.text-small {
    font-size: 0.7rem;
}
.temp-details-container {
    border: 1px solid rgb(199 199 199);
}
.bg-secondary {
    background-color: var(--background) !important;
}
.color-text {
    color: var(--text-color) !important;
}
.bg-sub-back {
    background-color: var(--sub-back) !important;
}
